<h1><%= @project.name %></h1>
<p>Material: <%= @project.material %></p>
<p>Challenge Theme: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestants.contestant_count %></p>
<p>Average Contestant Experience: <%= @project.average_contestant_experience %></p>
<br>
<br>
<br>

<h3>New Contestant</h3>
<%= form_tag "/#{@project.id}/contestant_projects", method: :post do %>
  <%= label_tag "name" %>
  <%= text_field_tag :name %><br>
  <%= label_tag "age" %>
  <%= text_field_tag :age %><br>
  <%= label_tag "hometown" %>
  <%= text_field_tag :hometown %><br>
  <%= label_tag "years of experience" %>
  <%= text_field_tag :years_of_experience %><br>
  <br>
  <%= submit_tag "Add Contestant To Project" %>
<% end %>
